<footer class = "footer" >
    <div class = "footerdiv" >
    <div class = "f-info-socials iconsdiv" >

        <i class="fa-regular fa-heart icon "></i>
        <i class="fa-solid fa-star icon"></i>
        <i class="fa-solid fa-heart icon"></i>

    </div>

<div class = "wonderLust" >WonderLust </div>

<div class="f-info-links  links">

    <a href = "/privacy" > Privacy </a>
    <a href = "/terms" > Terms </a>

</div>
</div>
</footer>

